/* Remove top and sticky bar */
#feedlyPageHolderFX {
  padding-top: 0 !important;
}
#headerBarFX {
  position: static;
}
#topHeaderBarFX {
  display: none;
}
#feedlyPageFX .header {
  display: none;
}

/* Remove sub header */
h4 {
  display: none;
}

/* Shrink Header margins */
.fx .presentation-0 header {
  margin-bottom: 0 !important;
}
.fx .presentation-0 h1 {
  margin-top: 0.5rem !important;
}
.fx .presentation-0 header div.p-t-2 {
  padding-top: 0.5rem !important;
}

/* Simplify top-right contorls */
button[title="Mark as Read"],
button[title="Create Team Newsletter"],
button[title="Share with teammates"],
button[title="Change layout"],
button[title="More options"] {
  display: none;
}

/* Remove article icons */
.save-for-later {
  display: none;
}
.entry:hover .CondensedToolbar {
  display: none !important;
}
